
<!-- NAVBAR  -->

<!-- 1 INPUT 2 OUTPUT -->
<app-digimon-header 
    [digimons]="digimons" 
    (searchChange)="newDigimonSearch($event)" 
    (levelSelected)="newLevelSelected($event)">
</app-digimon-header>


<!-- BODY -->
<!-- 1 OUTPUT 2 INPUT -->
<app-digimon-home 
    (exportDigimons)="exportDigimons($event)" 
    [search]="search" 
    [levelFilter]="levelFilter"> 
</app-digimon-home>


