.grid-layout {
    padding: 50px 0;
    display: grid;
    max-width: 100%;
    grid-gap: 60px;
    margin: 0 auto;
    width: 95%;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    .digimon-card {
        min-width: 180px;
        max-width: 400px;
        color: silver;
        background-color: rgb(35, 35, 35);
        display: inline-block;
        &:hover {
            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            .mat-card-image {
                transform: scale(1.1);
            }
        }
        .mat-card-title {
            font-size: 22px;
            display: inline-flex;
        }
        .background-image {
            background-color: #616161;
            border-radius: 10px;
            .mat-card-image {
                margin-bottom: 1px;
            }
        }
        .id {
            font-size: 22px;
            margin-left: 20px;
            text-align: right;
            display: inline-flex;
        }
        .mat-card-content {
            margin: 0;
            .types {
                display: inline-flex;
                margin: 15px 10px 5px 0px;
                padding: 5px 10px;
                text-shadow: black 1px 1px 1px;
                border-radius: 10px;
                font-size: 15px;
            }
        }
    }
    .mat-card-image:first-child {
        margin-top: 0px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

.loading {
    text-align: center;
    margin: 15% 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #673ab7;
    .mat-spinner {
        margin: 20px auto;
    }
}

img {
    width: 100%;
    height: 100%;
}