<div style="text-align:center">
    <div class="grid-layout">
        <div *ngFor="let digimon of digimons | search: query | nivel: levelsFilter">
            <mat-card class="digimon-card">
                <mat-card-title>{{ digimon.name | titlecase }}</mat-card-title>
                <div class="id">{{ digimon.id }}</div>
                <div class="background-image">
                    <img class="image" mat-card-image src="{{ digimon.img }}" alt="photo of {{digimon.name}}" />
                </div>
                <mat-card-content>
                    <div style="display: block;">
                        <div class="types">
                            {{ digimon.level | titlecase }}
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>